@charset "utf-8";
* {
    box-sizing: border-box
}
/*main*/
html, body, p, th, td, dd, dt {
    font-family: Lato, sans-serif;
    background-color: #f1f1f1;
    margin-top: 1px;
    margin-bottom: 1px;
}

h1, h2, h3, h4, h4, h6 {
    margin-top: 5px;
    margin-bottom: 5px
}

li, ul {
    margin: 1px
}

/*input, select, text, textarea{*/
    /*color: #000;*/
    /*text-align: right;*/
    /*font-size: 12pt;*/
/*}*/

label {
    font-size: 13pt;
}

input {
    color: #000;
    vertical-align:center;
    height:28px;
}

input[type="text"]
{
    font-size:12px;
}

input[type="number"]
{
    font-size:12px;
    width: 40px;
}

input[type=checkbox], input[type=radio] {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
  margin-left: 8px;
  margin-right: 8px;
}

select {
    border:none solid #ccc;
    vertical-align:center;
    height:25px;
    font-size: 9pt;
}

/*input, select{*/
  /*box-sizing: border-box;*/
  /*-moz-box-sizing: border-box;*/
  /*-webkit-box-sizing: border-box;*/
/*}*/

option {
    font-size: 12pt;
}

.title {
    position: fixed;
    padding-left: 160px;
    padding-right: 300px;
    margin-top: 10px;
    top: 0;
    left: 0;
    height: 59px;
    width: 100%;
    z-index: 999;
    overflow: hidden;
    border: none solid #ccc;
    background-color: inherit;
}

/*for tab bar*/
.tab {
    position: fixed;
    left: 0;
    padding-left: 13%;
    height: 40px;
    width: 100%;
    z-index: 999;
    overflow: hidden;
    border: none solid #ccc;
    background-color: #e1e1e1;
}

.tab a.button {
    background-color: inherit;
    vertical-align: middle;
    display: table-cell;
    height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;

}

.tab a.button:hover {
    height: 100%;
    background-color: #aaa;
}

.tab a.button.active {
    height: 100%;
    background-color: #ccc;
}

/*main viewport under tab bar*/
.main {
    position: fixed;
    float: bottom;
    box-sizing: padding-box;
    padding-top: 1.5%;
    padding-bottom: 135px;
    height: 100%;
    width: 100%;
    left: 0;
    overflow: scroll;
    background-color: inherit;
}

/*content of page*/
.content {
    /*font-size: 15pt;*/
    float: right;
    float: top;
    height: 100%;
    width: 87%;
    /*z-index: 1;*/
    right: 0;
    padding-top: 3%;
    padding-left: 1.5%;
    border: 1px solid #ccc;
    background-color: #e1e1e1;
    overflow-y: scroll;
    background-color: inherit;
}

.content div.fixed {
    /*position: absolute;*/
    /*float: top;*/
    padding: 10px;
}

.content div.acf_left{
    float: left;
    width: 38%;
    /*height: 330px;*/
}
.content div.acf_right{
    float: right;
    width: 62%;
    /*height: 330px;*/
}

/*Sidebar with FSM diagram*/
.sidenav {
    font-size: 15pt;
    padding-top: 20px;
    float: left;
    height: 100%;
    width: 13%;
    z-index: 999;
    left: 0;
    border: none solid #ccc;
    background-color: #e1e1e1;
    overflow: hidden;
    transition: 0.15s;
}

.sidenav p.state {
    font-size: 14pt;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    /*margin-top: 4px;*/
    margin-bottom: 20px;
    text-color: blue;
    background-color: #F39C12;
    float: left;

}

.sidenav div.current_file {
    font-size: 11pt;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    /*margin-top: 4px;*/
    margin-bottom: 20px;
    margin-top: 20px;
    text-color: blue;
    background-color: #919191;
    float: left;
    word-wrap: break-word;
}

/* The navigation menu links */
/*.sidenav a.button {*/
.sidenav input[type=submit] {
    font-size: 15pt;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    float: left;
    text-decoration: none;
    transition: 0.3s;
    text-align: left;
}

/*.sidenav a.button.active {*/
.sidenav input[type=submit].active {
    background-color: #ccc;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
    width: 100%;
    float: left;
}

/* When you mouse over the navigation links, change their color */
/*.sidenav a.button:hover, .offcanvas a:focus {*/
.sidenav input[type=submit]:hover, .offcanvas a:focus {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    float: left;
    background-color: #aaa
}

.sidenav input[type=submit].refresh {
    font-size: 15pt;
    margin-bottom: 20px;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    float: left;
    text-decoration: none;
    transition: 0.3s;
    text-align: left;
    background-color: #58D68D;
}

/*for HWDescription form*/
 div.BeBoard {
     /*position: relative;*/
     font-size: 10 pt;
     /*height: 100vh;*/
     /*margin-top: 5px;*/
     /*margin-bottom: 5px;*/
     /*margin-left: 0px;*/
     /*margin-right: 50px;*/
     /*padding-top: 5px;*/
     /*padding-bottom: 5px;*/
     /*padding-left: 10px;*/
     /*padding-right: 10px;*/

     /*overflow: scroll;*/
     border: none
     solid: #ccc;
     /*background-color: #424242;*/
     background-color: inherit;
     /*float: top;*/
     /*color: #34495e*/
 }

 div.General {
     margin-top: 5px;
     margin-bottom: 5px;
     margin-left: 5px;
     margin-right: 100px;
     padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 15px;
     padding-right: 15px;
     /*overflow: hidden;*/
     border: none
     solid: #ddd;
     background-color: #ebedef
 }

 div.Module {
     margin-top: 5px;
     margin-bottom: 5px;
     margin-left: 5px;
     margin-right: 100px;
     padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 15px;
     padding-right: 15px;
     /*overflow: hidden;*/
     border: none
     solid: #ddd;
     background-color: #d5d8dc;
 }
 
 div.CBC {
     margin-top: 5px;
     margin-bottom: 5px;
     margin-left: 5px;
     margin-right: 5px;
     padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 20px;
     padding-right: 20px;
     /*overflow: hidden;*/
     border: none
     solid: #ddd;
     background-color: #ebedef;
     color: #616161
 }

 div.Config {
     margin-left: 5px;
     margin-right: 5px;
     padding-left: 20px;
     padding-right: 20px;
     /*overflow: hidden;*/
     border: none
     solid: #ddd;
     background-color: inherit;
     color: #616161
 }

 div.SLink {
     margin-top: 5px;
     margin-bottom: 5px;
     margin-left: 5px;
     margin-right: 100px;
     padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 10px;
     padding-right: 10px;
     /*overflow: hidden;*/
     border: 1px
     solid: #ddd;
     background-color: #ebedef
 }

 div.BeBoardRegisters {
     margin-top: 5px;
     margin-bottom: 5px;
     margin-left: 5px;
     margin-right: 100px;
     padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 10px;
     padding-right: 10px;
     /*overflow: hidden;*/
     border: 1px
     solid: #ddd;
     background-color: #d5d8dc
 }

