
@charset "utf-8";

* {
    box-sizing: border-box
}
/*main*/
html, body, p, th, td, dd, dt {
    font-family: Lato, sans-serif;
    background-color: #f1f1f1;
    margin-top: 1px;
    margin-bottom: 1px;
}

h1, h2, h3, h4, h4, h6 {
    margin-top: 5px;
    margin-bottom: 5px
}

li, ul {
    margin: 1px
}

/*input, select, text, textarea{*/
    /*color: #000;*/
    /*text-align: right;*/
    /*font-size: 12pt;*/
/*}*/

label {
    font-size: 13pt;
}

input {
    color: #000;
    vertical-align:center;
    height:28px;
}

input[type="text"]
{
    font-size:12px;
}

input[type="number"]
{
    font-size:12px;
    width: 40px;
}

input[type=checkbox], input[type=radio] {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
  margin-left: 8px;
  margin-right: 8px;
}

select {
    border:none solid #ccc;
    vertical-align:center;
    height:25px;
    font-size: 9pt;
}

option {
    font-size: 12pt;
}

input[type=button] {
    background-color:  	#1E90FF;
}

.title {
    position: fixed;
    margin-left: 160px;
    margin-right: 300px;
    margin-top: 10px;
    top: 0;
    left: 0;
    height: 59px;
    width: 30%;
    z-index: 999;
    overflow: hidden;
    border: none solid #ccc;
    background-color: inherit;
}

/*for tab bar*/
.tab {
    position: fixed;
    left: 0;
    top: 72px;
    padding-left: 13%;
    height: 40px;
    width: 100%;
    z-index: 999;
    overflow: hidden;
    border: none solid #ccc;
    background-color: #e1e1e1;
}

.tab a.button {
    background-color: inherit;
    vertical-align: middle;
    display: table-cell;
    height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;

}

.tab a.button:hover {
    height: 100%;
    background-color: #aaa;
}

.tab a.button.active {
    height: 100%;
    background-color: #ccc;
}

.tab a.refresh_button {
    height: 100%;
    background-color: #1E90FF;
    vertical-align: middle;
    display: table-cell;
    height: 100%;
    transition: 0.3s;
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;
}
.tab a.refresh_button_active {
    height: 100%;
    background-color: #3CB371;
    vertical-align: middle;
    display: table-cell;
    height: 100%;
    transition: 0.3s;
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;
}

/*main viewport under tab bar*/
.main {
    position: fixed;
    left: 0;
    top: 112px;
    height: calc(100% - 162px);
    width: 100%;
    overflow: auto;
    background-color: inherit;
}

/*content of page*/
.content {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    right: 0;
    bottom: 50px;
    height: 100%;
    width: 87%;
    padding-top: 20px;
    padding-left: 20px;
    border: none solid #ccc;
    overflow-y: auto;
    background-color: inherit;
}
.content td {
    white-space: nowrap;
}
.content div.fixed {
    padding: 10px;
}

.content div.acf_left{
    float: left;
    width: 50%;
}
.content div.acf_right{
    float: right;
    width: 50%;
}

[draggable=true] {
    cursor: move;
}

.content div.separator {
    position: relative;
    left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 5px;
    z-index: 2;
    overflow-y: none;
    background-color: #aaa;
}
.content div.log {
    -webkit-flex: 1;
    flex: 1;
    left: 0;
    right: 0;
    width: 100%;
    height: 10%;
    padding-left: 20px;
    overflow-y: scroll;
    display: inline-block;
}

.content div.legend {
    left: 0;
    width: 100%;
    padding-left: 10px;
    z-index: 2;
    overflow-y: none;
    display: inline-block;
}

/*Sidebar with FSM diagram*/
.sidenav {
    font-size: 15pt;
    padding-top: 20px;
    float: left;
    height: 100%;
    width: 13%;
    z-index: 999;
    left: 0;
    border: none solid #ccc;
    background-color: #e1e1e1;
    overflow: hidden;
    transition: 0.15s;
}

.sidenav p.state {
    font-size: 14pt;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    /*margin-top: 4px;*/
    margin-bottom: 10px;
    text-color: blue;
    background-color: #F39C12;
    float: left;

}

.sidenav div.current_file {
    font-size: 11pt;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    /*margin-top: 4px;*/
    margin-bottom: 20px;
    margin-top: 20px;
    text-color: blue;
    background-color: #919191;
    float: left;
    word-wrap: break-word;
}
.sidenav div.eventcount {
    font-size: 11pt;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    text-color: blue;
    background-color: inherit;
    float: left;
    word-wrap: break-word;
}

/* The navigation menu links */
/*.sidenav a.button {*/
.sidenav input[type=submit] {
    font-size: 15pt;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    float: left;
    text-decoration: none;
    transition: 0.3s;
    text-align: left;
}

/*.sidenav a.button.active {*/
.sidenav input[type=submit].active {
    background-color: #ccc;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
    width: 100%;
    float: left;
}

/* When you mouse over the navigation links, change their color */
/*.sidenav a.button:hover, .offcanvas a:focus {*/
.sidenav input[type=submit]:hover, .offcanvas a:focus {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    float: left;
    background-color: #aaa
}

.sidenav input[type=submit].refresh {
    font-size: 15pt;
    margin-bottom: 20px;
    width: 100%;
    margin-top: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    float: left;
    text-decoration: none;
    transition: 0.3s;
    text-align: left;
    background-color: #58D68D;
}

/*for HWDescription form*/
 div.BeBoard {
     font-size: 10 pt;
     border: none
     solid: #ccc;
     background-color: inherit;
     display: inline-block; 
 }

 div.General {
     padding-left: 15px;
     /*overflow: hidden;*/
     border: none
     solid: #ddd;
     background-color: #ebedef;
     /*display: inline-block; */
 }

 div.Module {
     padding-left: 15px;
     border: none
     solid: #ddd;
     background-color: #d5d8dc;
     /*display: inline-block; */
 }
 
 div.CBC {
     padding-left: 20px;
     /*overflow: hidden;*/
     border: none
     solid: #ddd;
     background-color: inherit;
     color: #616161;
     display: inline-block;
 }

 div.Config {
     padding-left: 20px;
     /*overflow: hidden;*/
     border: none
     solid: #ddd;
     background-color: inherit;
     color: #616161;
     display: inline-block;
 }

 div.SLink {
     padding-left: 10px;
     /*overflow: hidden;*/
     border: 1px
     solid: #ddd;
     background-color: #ebedef;
     display: inline;
 }

 div.BeBoardRegisters {
     padding-left: 10px;
     /*overflow: hidden;*/
     border: 1px
     solid: #ddd;
     background-color: #d5d8dc;
 }

